<%- include('includes/head') %>
<%- include('includes/nav') %>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
          <h1 class="text-center">Tenha acesso à Agenda</h1>
          <p class="text-center lead">Preencha os campos abaixo:</p>

            <%- include('includes/messages') %>

          <div class="row">
            <div class="col-lg">
                <h4>Faça seu cadastro</h4>
                <p>Se ainda não tem registro, registre agora:</p>
                <form class="form-registration" action="/login/register" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="email">
                        <div id="emailHelp" class="form-text">Não iremos compartilhar seu e-mail com ninguém.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Mostrar senha</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="col-lg">
                <h4>Entrar no sistema</h4>
                <p>Se já está cadastrado, insira suas informações abaixo:</p>
                <form class="form-login" action="/login/login" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="email">
                        <div id="emailHelp" class="form-text">Não iremos compartilhar seu e-mail com ninguém.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Mostrar senha</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>
          </div>

        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

<%- include('includes/footer') %>
